<div class="container">
	<h2>Typical MAC Filesystem Organization: </h2>
	<table class="table table-hover table-bordered">
  		<tr class="table-header">
  			<th>Directory</th>
  			<th>Contents</th>
  		</tr>
  		<tr>
  			<td>/Applications</td>
  			<td>Mac programs</td>
  		</tr>
  		<tr>
  			<td>/Library</td>
  			<td>Mac libraries of code</td>
  		</tr>
  		<tr>
  			<td>/Network</td>
  			<td>Networked devices</td>
  		</tr>
  		<tr>
  			<td>/System</td>
  			<td>Mac OS X</td>
  		</tr>
  		<tr>
  			<td>/Users</td>
  			<td>User home directories</td>
  		</tr>
  		<tr>
  			<td>/Volumes</td>
  			<td>Mounted volumes (hard drive, DVD, iPod)</td>
  		</tr>
  		<tr>
  			<td>.DS_Store</td>
  			<td>Holds folder view options, icon positions</td>
  		</tr>
  		<tr>
  			<td>~/.MacOSX</td>
  			<td>Directory for Mac OS X to store options</td>
  		</tr>
  		<tr>
  			<td>~/.Trash</td>
  			<td>User trash can</td>
  		</tr>
  		<tr>
  			<td>~/.hotfiles.btree</td>
  			<td>Track commonly-used files for optimization</td>
  		</tr>
      <tr>
        <td>~/.Spotlight-V100</td>
        <td>Used by Spotlight for indexing</td>
      </tr>
  	</table>
</div>