<div class="container">
	<h2>Useful MAC shortcuts: </h2>

	<table class="table table-hover table-bordered">
  		<caption class="table-header">Web browser(Chrome)</caption>
  		<tr>
  			<td>Goto address bar</td>
  			<td>Cmd + L</td>
  		</tr>
  		<tr>
  			<td>Open inspect element</td>
  			<td>Cmd + Shift + C</td>
  		</tr>
  		<tr>
  			<td>Reload</td>
  			<td>Cmd + R</td>
  		</tr>
  		<tr>
  			<td>Hard Reload</td>
  			<td>Cmd + Shift + R or open inspect element and right click refresh</td>
  		</tr>
  		<tr>
  			<td>Open new tab</td>
  			<td>Cmd + T</td>
  		</tr>
  	</table>
  	<br/>
  	<table class="table table-hover table-bordered">
  		<caption class="table-header">Miscellaneous</caption>
  		<tr>
  			<td>Address bar in finder</td>
  			<td>Cmd + Shift + G</td>
  		</tr>
  		<tr>
  			<td>End/Start of line</td>
  			<td>Cmd + right/left arrow </td>
  		</tr>
  		<tr>
  			<td>Select till end/start of line</td>
  			<td>Cmd + Shift + right/left arrow</td>
  		</tr>
  		<tr>
  			<td>End/Start of word</td>
  			<td>Option + right/left arrow</td>
  		</tr>
  		<tr>
  			<td>Select word till end/start</td>
  			<td>Option + Shift + right/left arrow</td>
  		</tr>
  		<tr>
  			<td>Clear terminal window</td>
  			<td>Cmd + K</td>
  		</tr>
  		<tr>
  			<td>Close tab</td>
  			<td>Cmd + W</td>
  		</tr>
  		<tr>
  			<td>Quit App</td>
  			<td>Cmd + Q</td>
  		</tr>
  		<tr>
  			<td>Switch Apps</td>
  			<td>Cmd + tab</td>
  		</tr>
  		<tr>
  			<td>New document/window</td>
  			<td>Cmd + N</td>
  		</tr>
  		<tr>
  			<td>Spotlight</td>
  			<td>Cmd + Spacebar</td>
  		</tr>
  		<tr>
  			<td>Switch between full screen apps</td>
  			<td>Ctrl + left/right arrow</td>
  		</tr>
  		<tr>
  			<td>Quick look</td>
  			<td>Spacebar</td>
  		</tr>
  		<tr>
  			<td>Screenshot</td>
  			<td>Cmd + Shift + 3</td>
  		</tr>	      		
  		<tr>
  			<td>Snapshot</td>
  			<td>Cmd + Shift + 4</td>
  		</tr>
  		<tr>
  			<td>Sleep</td>
  			<td>Ctrl + Shift + Eject/Power</td>
  		</tr>
  		<tr>
  			<td>Delete file</td>
  			<td>Cmd + Delete</td>
  		</tr>
  		<tr>
  			<td>Open file</td>
  			<td>Cmd + down arrow</td>
  		</tr>
  	</table>
  	<br/><table class="table table-hover table-bordered">
  		<caption class="table-header">Editor</caption>
  		<tr>
  			<td>Cut</td>
  			<td>Cmd + X</td>
  		</tr>
  		<tr>
  			<td>Copy</td>
  			<td>Cmd + C</td>
  		</tr>
  		<tr>
  			<td>Paste</td>
  			<td>Cmd + V</td>
  		</tr>
  		<tr>
  			<td>Undo</td>
  			<td>Cmd + Z</td>
  		</tr>
  		<tr>
  			<td>Redo</td>
  			<td>Cmd + Shift + Z</td>
  		</tr>
  		<tr>
  			<td>Save</td>
  			<td>Cmd + S</td>
  		</tr>
  		<tr>
  			<td>Find</td>
  			<td>Cmd + F</td>
  		</tr>
  		<tr>
  			<td>Find all (sublime)</td>
  			<td>Cmd + Shift + F</td>
  		</tr>
  		<tr>
  			<td>Select all</td>
  			<td>Cmd + A</td>
  		</tr>
  		<tr>
  			<td>Delete (not backspace)</td>
  			<td>Fn + Delete</td>
  		</tr>
  	</table>
  	<br/>
  	<table class="table table-hover table-bordered">
  		<caption class="table-header">vi editor</caption>
  		<tr>
  			<td>Edit mode</td>
  			<td>i</td>
  		</tr>
  		<tr>
  			<td>Exit edit mode</td>
  			<td>Esc</td>
  		</tr>
  		<tr>
  			<td>Save</td>
  			<td>:q</td>
  		</tr>
  		<tr>
  			<td>Save and quit</td>
  			<td>:wq</td>
  		</tr>
  	</table>
</div>