<h1>Resources#index</h1>
<p>To be updated soon</p>
<br>
<%= link_to "HashMaps vs HashTables", controller: "resources", action: "hashmaphashtable" %> <br>
<%= link_to "MAC Shortcuts", controller: "resources", action: "macshortcuts" %> <br>
<%= link_to "Unix Commands", controller: "resources", action: "unixcmds" %> <br>