<div class="container">
	<span class="view_count">Views: <%= @view_count %></span>
	<h2>NodeJS</h2>
	<ul>
		<li>Non-blocking single threaded server using JS on server-side</li>
		<li>Used to build scalable network apps</li>
		<li>Uses V8 engine JS runtime which makes it fast (mostly written in C)</li>
	</ul>
</div>