<div class="container">
	<span class="view_count">Views: <%= @view_count %></span>
	<h2>Rails</h2>
	<ul>
		<li>rails g model singular (create_table :plural)</li>
		<li>rails g controller plural action</li>
	</ul>
</div>