// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
caption {
	font-weight: bold;
	color: #000;
	background-color: rgb(238,238,238);
	padding-left: 5px;
}
.cmd {
	font-weight: bold;
	padding-right: 1em;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.cmd-ul {
	padding-left: 2em;
}