<div class="container">
	<span class="view_count">Views: <%= @view_count %></span>
	<h2>Typical Unix Filesystem Organization: </h2>
	<table class="table table-hover table-bordered">
  		<tr class="table-header">
  			<th>Directory</th>
  			<th>Contents</th>
  		</tr>
  		<tr>
  			<td>/</td>
  			<td>root</td>
  		</tr>
  		<tr>
  			<td>/bin</td>
  			<td>binaries, programs</td>
  		</tr>
  		<tr>
  			<td>/sbin</td>
  			<td>system binaries, system programs</td>
  		</tr>
  		<tr>
  			<td>/dev</td>
  			<td>devices like hard drives, keyboard, mouse, etc.</td>
  		</tr>
  		<tr>
  			<td>/etc</td>
  			<td>system configurations</td>
  		</tr>
  		<tr>
  			<td>/home</td>
  			<td>user home directories</td>
  		</tr>
  		<tr>
  			<td>/lib</td>
  			<td>libraries of code</td>
  		</tr>
  		<tr>
  			<td>/tmp</td>
  			<td>temporary files</td>
  		</tr>
  		<tr>
  			<td>/var</td>
  			<td>various, mostly files the system uses</td>
  		</tr>
  		<tr>
  			<td>/usr<br>/usr/bin<br>/usr/etc<br>/usr/lib<br>/usr/local</td>
  			<td>User programs, tools and libraries (not files)</td>
  		</tr>
  	</table>
</div>